 /* 
   *  Generated file, do not alter manualy !
   */
{% for d in svg.defs %}{% for f in d.font %}
{%- set fontfaces = f['font-face'] -%}
{%- set fontface = fontfaces[0] -%}
{%- set fontfamily = fontface.$['font-family'] -%}
  @font-face {
  	font-family:'{{fontfamily}}';
  	src: url('{{f.$.id}}.eot');
  	src: url('{{f.$.id}}.eot?#iefix') format('embedded-opentype'),
	     url('{{f.$.id}}.woff2') format('woff2'),
  		 url('{{f.$.id}}.woff') format('woff'),
  		 url('{{f.$.id}}.ttf') format('truetype');
  	font-weight: normal;
  	font-style: normal;
  }
  .ldsg {
  	font-family:'{{fontfamily}}';
  }
  .ldsg:before{
	vertical-align: -0.15em;
  }
  {% for g in f.glyph %}{% if g.$.d %}
  .{{g.$['glyph-name']}}:before{
	content: '\{% filter replace("ldsg-", "","g") %}{{g.$.id}}{% endfilter %}';
  }
  {% endif %}{% endfor %}
 {% endfor %}{% endfor %}